{% extends 'base.html' %}

{% block head_title %} 
This is Amazing Block Title!!! =^_^=
{% endblock %}

{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h2> Welcome to Pet Project Blog </h2>
    </div>
</div>

<div class='row' id = 'tweets'>
    Loading.... Please wait. <br> Hm... You might enjoy some tea :)
</div>

<script>
    const tweetsElement = document.getElementById('tweets') // We will get html element
    // tweetsElement.innerHTML = "Loading.... Please wait. <br> Hm... You might enjoy some tea :)" // we will set html in that element
    
    // var el1 = "<h2> Hi there Monday </h2>"
    // var el2 = "<h2> Hi there Lundi </h2>"
    // var el3 = "<h2> Hi there Lunedi </h2>"
    // tweetsElement.innerHTML = el1 + el2 + el3

    const xhr = new XMLHttpRequest() // xhr = SomeClass()
    const method = 'GET' // POST
    const url = "/tweets"    
    const responseType = "json"

    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
    }
    
    function likeBtn(tweet){
        return "<button class='btn btn-primary btn-sm'onclick=handleDidLike(" + 
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Like ME</button>"
    } 

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border-bottom py-3 mb-4 tweet' id='tweet-" + tweet.id 
        + "'><p>" + tweet.content + 
        "</p><div class='btn-group'>" + likeBtn(tweet) + "</div></div>"
        return formattedTweet
    }
    
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        // console.log(xhr.response)
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i; 
        for (i=0; i<listedItems.length; i++) {
            // console.log(i)
            // console.log(listedItems[i]) 
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
        // console.log(listedItems)
    }
    xhr.send()
</script>

{% endblock content %}